form
{
  box-shadow: 5px 5px 5px 5px #888888;
  border-radius: 15%;

}
#emailLabel
{
  display: flex;
  justify-content: center;

}
#passLabel
{
  display: flex;
  justify-content: center;

}
.checkbox
{
  display: grid;
  grid-auto-columns: 1fr 1fr 1fr;

}
#new_user
{
  display: flex;
  grid-column: 3;
  justify-content: flex-end;
  padding-right: 15px;

}
#buttonSubmit
{

    display: flex;
    justify-content: center;
    padding-bottom: 15px;

}
